td{
	width:100px;
	height:100px;
	
}

#results{
	background-color:#FFEBCD;
	width:415px;
	height:50px;
	text-align: right;
	color: bold;

}

.button{
   background-color: orange;


}

.button:active{
	background-color: white
}


